body {
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  font-size: 48px;
  color: orange;
  text-decoration: underline gold;
  text-align: center;
  text-shadow: 3px 3px black;

  margin-top: 150px;
}

